* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

#navbar {
	background: transparent;
}

#aboutme {
	background-image: url(https://media.istockphoto.com/photos/sunrise-at-yosemite-national-park-picture-id545090448?k=20&m=545090448&s=612x612&w=0&h=QqHXmhOUIFIFtdnzyOE2aCQ3xIxlaX75jW5IYZnMmVM=);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(0, 0, 0, 0.9);
	color: white;
	}

#navbar, #aboutme {
	font-family: Ibarra Real Nova, sans-serif;
	font-size: 1.4rem;

}

#projects {
	font-family: open sans, sans-serif;
	font-size: 1.3rem;
}

#project2 {
	background-color: #e317cb;
}

#gmapcanvas {
	height: 70vh;
	width: 100%;
}

.form-group {
	
}

#img1 {
	height: 38vh;
	width: 38vh;

}
#img2 {
	height: 38vh;
	width: 38vh;
	
}
#img3 {
	height: 38vh;
	width: 38vh;
	
}
#img4 {
	height: 38vh;
	width: 38vh;
}

.fa-icons {
	font-size: 2rem;
}