* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#landingpage {
	background-color: rgba(0, 0, 0, 0.6);
}

body {
	background-image: url(https://www.photographybykiarah.com/wp-content/uploads/2021/08/naturewalk.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}

#gmapcanvas {
	height: 80vh;
	width: 100%;
}

.fa-icons {
	font-size: 2rem;
}

html {
	scroll-behavior: smooth;
}
